*{
  box-sizing: border-box;
}

body{
  margin: 0px;
  padding: 0;
  left: 0;
  overflow: hidden;
  height: 100%;
  width: 100%;
  font-family: georgia;
}
.container{
  background: url("img/bg1.jpg") center center;
  height: 100vh;
  left: 0;
  right: 0;
  width: 100%;
  overflow: hidden;
  background-size: cover;
  position: absolute;
}

.overlay{
  background: grey;
  opacity: 0.5;
  height: 100vh;
  left: 0;
  right: 0;
  width: 100%;
  overflow: hidden;
  position: absolute;
  z-index: 1;
}

.container .navbar{
  width: 100%;
  height: 60px;
  z-index: 2;
  background: #141414;
  top: 0;
  left: 0;
  position: fixed;
  color: #fff;
}

.container .navbar img{
  margin-left: 5px;
  padding-top: 3px;
}

.container .navbar h3{
  margin: 0;
  padding: 12px;
  top: 0;
  margin-left: 50px;
  position: absolute;
}

.content{
  z-index: 2;
  font-family: arial;
  position: absolute;
  left: 10%;
  right: 10%;
  margin: 0 auto;
  margin-top: 7vh;
}

.content .title{
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  text-shadow: 2px 2px 4px #222;
}

.formwrapper{
  width: 50%;
  background: #3c3737;
  position: absolute;
  z-index: 9;
  min-height: 400px;
  left: 10%;
  right: 10%;
  margin: 0 auto;
  border-radius: 10px;
}
form{
  width: 100%;
}

fieldset{
  padding: 20px;
  margin: 20px;
  border: 3px solid rgba(#eedbdb, 0.43);
}

legend{
  padding: 10px;
  font-size: 18px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #FFF;
}

input[type="checkbox"]{
  margin: 0;
  width: 0;
  opacity: 0;
}

label{
  font-weight: bold;
}

label[for="disclaimer"]{
  display: inline-block;
  margin-bottom: 18px;
  padding-left: 26px;
  background: url("img/ch.png") no-repeat;
  font-size: 16px;
  font-family: georgia;
  line-height: 16px;
  font-weight: lighter;
}

input:checked + label[for="disclaimer"]{
  background: url("img/ch2.png") no-repeat;
  color: #fff;
}


input[type="text"]{
  border: none;
  border-bottom: 2px solid white;
  background: #3c3737;
  margin-bottom: 10px;
  height: 30px;
  color: #fff;
}

input[type="text"]:focus{
  border-bottom: 2px solid black;
  outline: none;
}

input[type="submit"]{
  min-height: 30px;
  padding:10px;
  background: #554e4e;
  border: 1px solid #554e4e;
  transition: 2s;
  color: #fff;
  border: none;
}

input[type="submit"]:hover{
  border: 1px solid white;
  background: black;
}

@media screen and (max-width: 600px) and (min-width: 321px) {
  .formwrapper {
    min-width: 90%;
    left: 0;
    right: 0;
  }
}

@media screen and (max-width: 320px) {
  .formwrapper {
    width: 95%;
    left: 0;
    right: 0;
    height: 350px;
  }

  fieldset{
    padding: 10px;
    margin: 10px;
  }
}
